
/* Table of Content  */
/*
1.Section Setting
2.Section Caousel
/*

/*Section Setting */
html, body {
    height: 100%;
}
.bg-alpha{
    background: rgba(0,0,0,0.5);
}
/* Section Carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
    height: 100%;
}
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}